<!-- <app-zippy title='Title1'>
    content1 ...
</app-zippy>
<app-zippy title='Title2'>
    content2 ...
</app-zippy>


<br>
<br>

<app-panel>
    <div class="heading">Heading</div>
    <div class="body">
        <h2>Body</h2>
        <p>Some content</p>
        <app-like [likeCount]="post.likeCount" [isSelected]="post.likeSelected" 
        (change)="onLikeChanged($event)"></app-like>        
    </div>
</app-panel>

<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
    List of courses
</ng-template>
<ng-template #noCourses>
    No courses
</ng-template>

<ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div>

<br>
<br>
<br>

<button (click)="loadCourses()">Load courses</button>
<button (click)="onAdd()">Add</button>

    <div *ngFor="let course of courses; trackBy: trackCourse">
            <app-zippy title='{{ course.name }}'>
                    content ... 
                    <button class="btn" (click)="onRemove(course)">Remove</button>
                    <button (click)="onUpdate(course)">Update</button>
            </app-zippy>             
    </div>
<br>
<br>
<br>

<button
    [ngStyle]="{
        'backgroundColor': canSave ? 'blue':'gray',
        'color': canSave ? 'white':'black',
        'fontWeight': canSave ? 'bold':'normal'
    }"
>Save</button>

<br>
<br>

<span>{{ task.assignee?.name }}</span>

<br>
<br>

<input type="text" [appInputFormat]="'lowercase'"> -->

<app-contact-form></app-contact-form>