<form [formGroup]="form" (ngSubmit)="changePassword()">
  
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input 
      formControlName="oldPassword"
      type="password"
      class="form-control"
      id="oldPassword">
    <div *ngIf="oldPassword.pending">Checking password...</div>
    <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
        <div *ngIf="oldPassword.errors.required">
            Old password is required.
        </div>
        <div *ngIf="oldPassword.errors.isValid">
            Old password is invalid.
        </div>
    </div>
  </div>

  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input 
      formControlName="newPassword"
      type="password"
      class="form-control"
      id="newPassword">
      <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
        <div *ngIf="newPassword.errors.required">
            New password is required.
        </div>
      </div>     
  </div>

  <div class="form-group">
    <label for="confirmPassword">New Password</label>
    <input 
      formControlName="confirmPassword"
      type="password"
      class="form-control"
      id="confirmPassword">
      <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
        <div *ngIf="confirmPassword.errors.required">
            Confirm password is required.
        </div>
      </div>
      <div class="alert alert-danger"
         *ngIf="confirmPassword.touched && confirmPassword.value !== newPassword.value">
           <div>
              Password don't match.
           </div> 
      </div>
  </div>

  <button class="btn btn-primary" type="submit">Change</button>

</form>